.FootContainer{
    width:100%;
    height:12rem;
    margin-left:0;
    margin-right:0;
    display:block;
    background: white;
    position:relative;
}
.Block1{
    width:10%;
    height:10rem;
    display:block;
    float:left;
    margin-top:2rem;
    margin-left:3%;
}
.Block1 h4{
    font-weight:400;

}
.Block2{
    width:23%;
    height:8rem;
    display:block;
    float:left;
    border-left:1px solid rgb(206, 206, 206);
    margin-top:2rem;
    border-right:1px solid rgb(206, 206, 206);

}
.Block2 ul li{
    text-decoration: none;
    list-style-type: none;
    font-size:0.85rem;
}

.Block2 ul li:hover{
    color:rgb(34, 50, 100);
    text-decoration: underline;
    cursor: pointer;
    
}


.Block3{
    width:28%;
    height:8rem;
    display:block;
    float:left;
    margin-top:2rem;
    border-right:1px solid rgb(206, 206, 206);

}
.Block3 h4{
    text-align: center;
    font-weight:400;

}
.Block4{
    width:12%;
    height:8rem;
    display:block;
    float:left;
    border-right:1px solid rgb(202, 202, 202);
    margin-top:2rem;
    margin-left:1rem;
   
}
.Block4 h4{
    font-weight:400;

}

.Block5{
    width:18%;
    height:8rem;
    display:block;
    float:left;
    margin-top:2rem;
    margin-left:1rem;
}
.Block5 p{
    font-size: 0.6rem;
}
.Block5 b{
    color:rgb(63, 63, 63);
}

.SocialIcons{
    display:inline-flex;
    width:80%;
    margin-left:10%;
    color:black;
    margin-top:3rem;
}
.SocialIcons a{
    color:black;
}














/*Responsive CSS for Mobiles*/

@media (max-width:550px){
    .FootContainer{
        width:100%;
        height:14rem;
        margin-left:0;
        margin-right:0;
        display:block;
        background: white;
        position:relative;
    }
    .Block1{
        width:30%;
        height:10rem;
        display:block;
        float:left;
        margin-top:2rem;
        margin-left:3%;
        display:none;
    }
    .Block1 h4{
        font-weight:400;
    
    }
    .Block2{
        width:30%;
        height:10rem;
        display:block;
        text-align:left;
        float:left;
        border-left:1px solid rgb(206, 206, 206);
        margin-top:2rem;
        /*border-right:1px solid rgb(206, 206, 206);
    */
    }
    .Block2 ul li{
        text-decoration: none;
        list-style-type: none;
        font-size:0.8rem;
    }
    
    .Block2 ul li:hover{
        color:rgb(34, 50, 100);
        text-decoration: underline;
        cursor: pointer;
        
    }
    
    
    .Block3{
        width:30%;
        height:10rem;
        display:block;
        float:left;
        margin-top:2rem;
        /*border-right:1px solid rgb(206, 206, 206);
    */
    }
    .Block3 h4{
        text-align: center;
        font-weight:400;
        font-size:12px;
    
    }
    .Block4{
        width:30%;
        height:8rem;
        display:block;
        float:left;
        border-right:1px solid rgb(202, 202, 202);
        margin-top:2rem;
        margin-left:1rem;
        display:none;
    }
    .Block4 h4{
        font-weight:400;
        
    
    }
    
    .Block5{
        width:30%;
        height:10rem;
        display:block;
        float:left;
        margin-top:2rem;
        margin-right:0.5rem;
    }
    .Block5 p{
        font-size: 0.6rem;
    }
    .Block5 b{
        color:rgb(63, 63, 63);
    }
    
    .SocialIcons{
        display:inline-flex;
        width:80%;
        margin-left:10%;
        color:black;
        margin-top:3rem;
    }
    

}